<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jwsystem.dao.CollegeDao">
    <!-- 新增学院 -->
    <insert id="insertCollege" >
        INSERT INTO COLLEGE ( name )
        VALUES(
                  #{name}
              )
    </insert>
    <!-- 查询学院和对应专业 -->
    <resultMap id="CollegeAndMajor" type="com.jwsystem.vo.CollegeVO">
        <!-- 学院信息 -->
        <id column="college_id" property="collegeVOId"/>
        <result column="name" property="collegeVOName"/>
        <collection property="majors" ofType="com.jwsystem.vo.MajorVO">
            <id column="major_id" property="majorId"/>
            <result column="major_name" property="majorName"/>
        </collection>
    </resultMap>
    <select id="findCollegeAndMajor" resultMap="CollegeAndMajor">
        SELECT college.college_id,college.name,major.major_id,major.name major_name
        FROM
        college left outer join major
        on college.name = major.college_name
    </select>
    <!-- 查询所有学院信息 -->
    <select id="findAllCollegeInfos" resultType="map">
        SELECT *
        FROM COLLEGE
    </select>
    <select id="getAllCollegeName" resultType="java.lang.String">
        SELECT name
        FROM COLLEGE
    </select>
    <!--根据id查询某学院是否存在 -->
    <select id="findCollegeById" resultType="com.jwsystem.entity.college.College">
        SELECT *
        FROM COLLEGE WHERE college_id = #{college_id}
    </select>
    <!--根据name查询某学院是否存在 -->
    <select id="findCollegeByName" resultType="com.jwsystem.entity.college.College">
        SELECT *
        FROM COLLEGE WHERE name = #{name}
    </select>
    <!-- 根据id修改某学院名 -->
    <update id="updateCollegeNameById" >
        UPDATE COLLEGE SET name = #{name}
        where college_id = #{college_id}
    </update>
    <!-- 删除学院 -->
    <delete id="deleteCollege">
        DELETE FROM COLLEGE WHERE name = #{name}
    </delete>
</mapper>