<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jwsystem.dao.CoursepartDao">
    <!-- 查询所有课程信息 -->
    <select id="getCoursepartInfos" resultType="com.jwsystem.entity.Coursepart">
        SELECT *
        FROM coursepart
    </select>

</mapper>