<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jwsystem.dao.TimepartDao">
    <select id="getAllTimepart" resultMap="TimepartMapping">
        SELECT *
        FROM timepart WHERE course_id = #{course_id}
    </select>
    <resultMap id="TimepartMapping" type="Timepart">
        <!-- id属性来映射主键字段 -->
        <id column="id" property="id"/>
        <!-- result属性映射非主键字段 -->
        <result column="course_id" property="relationId"/>
        <result column="teacher_num" property="teacherNum"/>
        <result column="building" property="building"/>
        <result column="room_num" property="roomNum"/>
        <result column="weekday" property="weekday"/>
        <result column="section" property="section"/>
    </resultMap>

    <select id="getAllReqTimepartByRequestId" resultMap="ReqTimepartMapping">
        SELECT *
        FROM timepart WHERE request_id = #{request_id}
    </select>
    <resultMap id="ReqTimepartMapping" type="Timepart">
        <!-- id属性来映射主键字段 -->
        <id column="id" property="id"/>
        <!-- result属性映射非主键字段 -->
        <result column="request_id" property="relationId"/>
        <result column="teacher_num" property="teacherNum"/>
        <result column="building" property="building"/>
        <result column="room_num" property="roomNum"/>
        <result column="weekday" property="weekday"/>
        <result column="section" property="section"/>
    </resultMap>

    <select id="selectSectionByTea" resultType="string">
        SELECT section
        FROM timepart WHERE teacher_num = #{teacher_num} and weekday = #{weekday}
    </select>

    <select id="selectSectionByRoom" resultType="string">
        SELECT section
        FROM timepart WHERE room_num = #{room_num} and weekday = #{weekday}
    </select>

    <select id="getAllTimeByRoom" resultMap="TimepartMapping">
        SELECT *
        FROM timepart WHERE building = #{building} and room_num = #{room_num}
    </select>

    <insert id="insertTimepart" parameterType="com.jwsystem.entity.Timepart">
        insert into timepart(
            id,
            course_id as relationId,
            teacher_num,
            building,
            room_num,
            weekday,
            section
        )
        values(
                  #{id},
                  #{course_id},
                  #{teacher_num},
                  #{building},
                  #{room_num},
                  #{weekday},
                  #{section}
              )
    </insert>

    <insert id="insertReqTimepart" parameterType="com.jwsystem.entity.Timepart">
        insert into timepart(
            id,
            request_id as relationId,
            teacher_num,
            building,
            room_num,
            weekday,
            section
        )
        values(
                  #{id},
                  #{request_id},
                  #{teacher_num},
                  #{building},
                  #{room_num},
                  #{weekday},
                  #{section}
              )
    </insert>
</mapper>